<app-toolbar></app-toolbar>

<div class="yellow-back-color">
  <div class="img-wrap menu-img"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p>Menu</p>
  </div>

  <div class="container main-content menu">
    <ng-container *ngIf="menuData">
      <div fxLayout="column" fxLayoutAlign="center center" class="menu-inner"
           *ngFor="let s of menuData.sections; let i = index">
        <div class="menu-title-block" fxLayout="column" fxLayoutAlign="center center">
          <h4 class="menu-title">{{s.title}}</h4>
          <p class="menu-subtitle" *ngIf="s.description">{{s.description}}</p>
        </div>
        <div fxLayout="row wrap">
          <app-menu-item fxFlex="33%" *ngFor="let d of menuData.sections[i].dishes" [data]="d"></app-menu-item>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
