.menu-img
  background: url('../../../assets/images/menu.jpg') no-repeat 50% 83%

.img-wrap
  min-height: 426px
  background-repeat: no-repeat
  background-size: cover

.img-wrap p
  text-transform: uppercase
  font-weight: 700
  font-size: 48px
  letter-spacing: 2px
  line-height: 1.3em
  color: #fff
  margin: 20px auto

.menu
  color: #696969

.menu-inner
  margin-bottom: 75px

.menu-inner:last-child
  margin-bottom: 0

.menu-title-block
  margin-bottom: 45px

.menu-title
  text-transform: uppercase
  font-size: 22px
  margin-bottom: 0

.menu-subtitle
  text-transform: uppercase
  font-size: 12px
