.branch-menu-item
  position: relative
  padding: 0 16px 16px 0

img
  border-radius: 0 5px 5px 0

.branch-menu-info
  padding: 0 16px

.menu-item-title
  font-weight: 600
  margin-bottom: 0

.price
  display: block
  font-weight: 500
  padding-top: 5px

.content-wrap
  position: absolute
  bottom: 12px
  right: 12px
  color: #191919 !important
  font-weight: 500
  border-radius: 30px

.edit-wrap
  position: absolute
  top: 0
  right: 0

.edit-icon
  background: #fff
