<div class="branch-menu-item" (click)="openDialog()">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="branch-menu-info">
        <h3 class="menu-item-title" mat-card-title>{{data.title}}</h3>
        <span mat-card-subtitle>{{data.description}}</span>
        <span class="price">${{data.price / 100}}</span>
      </div>
      <img mat-card-lg-image [src]="data.file.fileKey | image" [alt]="data.title">
      <div class="edit-wrap" *appHasRoles="['ADMIN']">
        <button mat-icon-button [matMenuTriggerFor]="editMenu" (click)="onRemoveClick($event)" class="edit-btn">
          <mat-icon class="edit-icon">more_vert</mat-icon>
        </button>
        <mat-menu #editMenu="matMenu">
          <a mat-menu-item routerLink="/dishes/id/edit">
            <mat-icon color="primary">edit</mat-icon>
            <span>Edit</span>
          </a>
          <button mat-menu-item (click)="onRemoveClick($event)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      <div class="content-wrap" fxLayout="row" fxLayoutAlign="space-between center" *appUserType="'user'">
        <button mat-raised-button><strong>Add</strong></button>
      </div>
    </div>
  </mat-card>
</div>
