.branch-img-inner
  min-height: 360px
  background: url("../../../assets/images/branch-img.webp") no-repeat 50% 50%

.branch-img
  padding-top: 10px

.branch-info
  border-bottom: 1px solid #e7e7e7
  padding: 16px 0 16px

.branch-title
  font-size: 30px
  color: #191919
  font-weight: 600
  line-height: 40px

.branch-schedule
  color: #767676
  font-size: 15px
  font-weight: 500
  padding-bottom: 5px

.change-location
  color: #3c366b
  font-weight: 600
  font-size: 15px

.work-btn
  max-width: 355px
  height: 52px
  border-radius: 8px
  margin: 4px 0

.work-btn span
  color: #fff
  font-size: 15px
  font-weight: 600

.closed-btn
  background: #b71000

.open-btn
  background: #3c366b

.menu-info
  border-bottom: 1px solid #e7e7e7
  padding: 16px 0

.menu-title
  color: #191919
  font-weight: 500

app-menu-sidebar
  position: sticky
  top: 0
  z-index: 99

.branch-location-icon
  margin: 5px 0 16px 0
