<app-short-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/cart" mat-button class="toolbar-link" *appUserType="'user'">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>shopping_cart</mat-icon>&nbsp;
        <span [matBadge]="getProductsQuantity()" matBadgeColor="warn">Cart</span>&nbsp;
      </div>
    </a>

    <div *appUserType="'user'; else anonMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon">person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/profiles/id/edit">Profile</a>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>

    <ng-template #anonMenu>
      <button mat-button class="toolbar-link" (click)="openRegisterModal()">REGISTER</button>
      <button mat-button class="toolbar-link" (click)="openLoginModal()">SIGN IN</button>
    </ng-template>
  </div>
</app-short-toolbar>

<div class="container branch-img">
  <mat-card class="branch-img-inner"></mat-card>

  <div class="branch-info" fxLayout="column">
    <h1 class="branch-title">Barney’s Gourmet Hamburgers</h1>
    <span class="branch-schedule" *ngIf="branchData">
      {{branchData.address.building}} {{branchData.address.street}}, {{branchData.address.city.title}}
      , {{branchData.address.state.title}} {{branchData.address.zipCode}}, USA &#x2022;
      <a routerLink="/map" class="change-location">Change location</a>
    </span>
    <span class="branch-schedule">Open Hours: {{schedule?.hours}}</span>
    <span class="work-btn open-btn" fxLayout="row" fxLayoutAlign="center center" *ngIf="isOpen(); else closed">
      <span>Open</span>
    </span>
    <ng-template #closed>
      <div class="work-btn closed-btn" fxLayout="row" fxLayoutAlign="center center">
        <span>Closed</span>
      </div>
    </ng-template>
  </div>

  <div class="menu-info" fxLayout="column">
    <span class="menu-title">Full Menu</span>
    <span class="branch-schedule">{{schedule?.hours}}</span>
  </div>

  <app-order-menu></app-order-menu>

  <div class="branch-location-icon" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>location_on</mat-icon>
  </div>
</div>

<app-short-footer></app-short-footer>
