<app-toolbar></app-toolbar>

<div class="yellow-back-color">
  <div class="img-wrap bay-area"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p>Bay Area & San Francisco</p>
  </div>

  <div class="main-content">
    <app-location *ngFor="let item of bayArea; let i = index" [data]="item">
      <div class="card-border" *ngIf="i !== bayArea.length -1">
        <hr class="card-splitter">
      </div>
    </app-location>
  </div>

  <div class="img-wrap los-angeles"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p>Los Angeles</p>
  </div>

  <div class="main-content">
    <app-location *ngFor="let item of losAngeles; let i = index" [data]="item">
      <div class="card-border" *ngIf="i !== losAngeles.length -1">
        <hr class="card-splitter">
      </div>
    </app-location>
  </div>
</div>

<app-footer></app-footer>
