.img-wrap
  min-height: 426px
  background-repeat: no-repeat
  background-size: cover

.img-wrap p
  text-transform: uppercase
  font-weight: 700
  font-size: 48px
  letter-spacing: 2px
  line-height: 1.3em
  color: #fff
  margin: 20px auto

.bay-area
  background-image: url("../../../assets/images/bay-area.png")
  background-position: 50% 80%

.los-angeles
  background-image: url("../../../assets/images/los-angeles.jpeg")
  background-position: 50% 46%

.card-border
  padding: 50px 0

.card-splitter
  max-width: 1000px
