<app-short-toolbar></app-short-toolbar>

<div class="container" fxLayout="row" fxLayoutAlign="space-between">
  <app-cart-items fxFlex="65" [data]="cartData" *ngIf="cartData"></app-cart-items>
  <div fxFlex="35%" class="order-form">
    <form fxLayout="column" #f=ngForm>
      <div class="basic-border">
        <div fxLayout="row">
          <label class="label"><strong>Method:</strong></label>
          <mat-radio-group ngModel name="receiptType" fxLayout="column" color="primary">
            <mat-radio-button value="delivery">Delivery</mat-radio-button>
            <mat-radio-button value="pickup">Pickup</mat-radio-button>
          </mat-radio-group>
        </div>
        <p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1672.2412499466898!2d-118.64199116099918!3d34.154736071765946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c29f36c9c361a1%3A0xe53f74ed8b19b88!2sBarney&#39;s%20Gourmet%20Hamburgers!5e0!3m2!1sen!2skg!4v1670405102516!5m2!1sen!2skg"
            width="100%" height="144" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </p>
        <p><strong>Store Address:</strong></p>
        <p *ngIf="branchData">
          {{branchData.address.building}} {{branchData.address.street}}, {{branchData.address.city.title}}
          , {{branchData.address.state.title}} {{branchData.address.zipCode}}, USA
        </p>
      </div>

      <a class="login-link" routerLink="/login" *appUserType="'anon'">Sign in for autofill</a>&nbsp;

      <p *ngIf="f.form.value['receiptType'] === 'delivery'; else pickup"><strong>Fill in your delivery details</strong>
      </p>

      <ng-template #pickup>
        <p><strong>Fill in the data for pickup</strong></p>
      </ng-template>

      <app-contact-form #contactForm></app-contact-form>

      <app-address-form #addressForm
                        *ngIf="f.form.value['receiptType'] === 'delivery'">
      </app-address-form>

      <app-card-form #cardForm></app-card-form>

      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea type="text" name="comment" matInput ngModel cdkTextareaAutosize
                  cdkAutosizeMinRows="4"></textarea>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="flex-end">
        <button type="submit" mat-raised-button [disabled]="f.invalid" color="primary" (click)="onSubmit()">
          <mat-spinner *ngIf="false" diameter="25"></mat-spinner>
          <span *ngIf="true" class="btn-text">Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>

<app-short-footer></app-short-footer>
