<app-toolbar></app-toolbar>

<div class="yellow-back-color">
  <div class="img-wrap story-img"
       fxLayout="column"
       fxLayoutAlign="center center">
    <p>Our Story</p>
  </div>

  <div fxLayout="row" class="container main-content">
    <app-sidebar fxFlex="27%"></app-sidebar>
    <div fxFlex="73%" class="about-info">
      <p>
        In 1978, we opened our first burger shop in Oakland and introduced our award-winning concept of gourmet
        hamburgers — yes, we were one of the first! Since then we’ve opened nine other burger restaurants and expanded our
        menu so that everyone who walks in can find something they’ll love. You can also enjoy burger delivery and pick up
        so that you can have Barney’s anywhere you go.
      </p>
      <strong>
        We are grateful to be winning awards still, but we are most proud of becoming a tradition for the families
        and friends in our communities.
      </strong>
    </div>
  </div>
</div>

<app-footer></app-footer>
