.story-img
  background: url('../../../assets/images/our-story.jpg') no-repeat 50% 68%

.img-wrap
  min-height: 426px
  background-repeat: no-repeat
  background-size: cover

.img-wrap p
  text-transform: uppercase
  font-weight: 700
  font-size: 48px
  letter-spacing: 2px
  line-height: 1.3em
  color: #fff
  margin: 20px auto

.about-info
  font-size: 15px
  color: #1f2526bf
  margin: 0 0 15px 0
