<mat-card>
  <button mat-icon-button class="cancel-btn" (click)="onCloseClick()">
    <mat-icon color="warn">cancel</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="center">
    <h4><strong>Password change</strong></h4>
  </div>

  <form #f="ngForm" fxLayout="column" [appIdentical]="['newPassword', 'confirmPassword']">
    <div *ngIf="errorData" class="error">
      <p *ngFor="let m of errorData.message">{{m}}</p>
    </div>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': oldPassword.touched && oldPassword.value && oldPassword.hasError('password')}">
      <mat-label>Current password</mat-label>
      <input type="password" name="oldPassword" autocomplete="current-password"
             appPassword required matInput ngModel #oldPassword="ngModel">
      <mat-error *ngIf="oldPassword.touched && oldPassword.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="oldPassword.touched && oldPassword.hasError('password')">The password must contain from 8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': newPassword.touched && newPassword.value && newPassword.hasError('password')}">
      <mat-label>New password</mat-label>
      <input type="password" name="newPassword" autocomplete="new-password"
             appPassword required matInput ngModel #newPassword="ngModel">
      <mat-error *ngIf="newPassword.touched && newPassword.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="newPassword.touched && newPassword.hasError('minlength')">
        The password must contain at least 6 characters!
      </mat-error>
      <mat-error *ngIf="newPassword.touched && newPassword.hasError('password')">The password must contain from 8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': confirmPassword.touched && confirmPassword.value && confirmPassword.hasError('password')}">
      <mat-label>Confirm your new password</mat-label>
      <input type="password" name="confirmPassword" appPassword required matInput ngModel #confirmPassword="ngModel"/>
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Password confirmation is
        required!
      </mat-error>
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('password')">The password must contain from
        8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>
    <small class="mat-error" *ngIf="confirmPassword.touched && f.errors?.['identical']">
      <mat-error>Passwords should match!</mat-error>
    </small>

    <div fxLayout="row" fxLayoutAlign="end">
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid || (updateLoading | async)"
              (click)="onSubmit()">
        <mat-spinner *ngIf="updateLoading | async" diameter="25"></mat-spinner>
        <span *ngIf="!(updateLoading | async)">SAVE</span>
      </button>
    </div>
  </form>
</mat-card>

