.cart-item
  padding: 16px
  margin-bottom: 16px

.cart-item-img
  height: 100%
  margin-right: 16px

.cart-item-title
  margin-bottom: 5px

.price
  margin: 0

.remove-btn
  color: #737373

.increase-btn
  color: #737373

.amount
  padding: 0 10px
