<mat-card class="cart-item">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row">
      <img
        mat-card-md-image
        class="cart-item-img"
        [src]="data.product.file.fileKey | image"
        [alt]="data.product.title">
      <div fxLayout="column">
        <p mat-card-title class="cart-item-title"><strong>{{data.product.title}}</strong></p>
        <p mat-card-subtitle>{{data.product.description}}</p>
        <p class="price"><strong>${{data.product.price / 100}}</strong></p>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between end">
      <button mat-icon-button (click)="onDelete()">
        <mat-icon class="remove-btn" color="warn">delete</mat-icon>
      </button>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button (click)="decreaseAmount()">
          <mat-icon class="increase-btn">remove_circle</mat-icon>
        </button>
        <span class="amount">{{ quantity }}</span>
        <button mat-icon-button (click)="increaseAmount()">
          <mat-icon color="warn">add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
