.file-input-container
  display: flex
  margin: -1em
  padding: 10px 1em 0.5em

input
  flex: 1 1
  border: none
  background: none
  padding: 0
  outline: none
  font: inherit

input[type="file"]
  display: none



