<app-short-toolbar>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/profiles/id/edit">Profile</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</app-short-toolbar>

<div class="container main-content" fxLayout="row" fxLayoutAlign="center">
  <form #f="ngForm" fxLayout="column" fxFlex="50">
    <h2 class="dish-form-title">New dish</h2>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" name="title" required matInput ngModel #title="ngModel">
      <mat-error *ngIf="title.touched && title.hasError('required')">Title is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input type="text" name="description" required matInput ngModel #description="ngModel">
      <mat-error *ngIf="description.touched && description.hasError('required')">Description is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input type="number" name="price" required matInput ngModel #price="ngModel">
      <mat-error *ngIf="price.touched && price.hasError('required')">Price is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel required #image="ngModel"></app-file-input>
      <mat-error *ngIf="image.touched && image.hasError('required')">Image is required!</mat-error>
    </mat-form-field>

    <button type="submit"
            mat-raised-button
            color="primary"
            (click)="onSubmit()">
      <mat-spinner *ngIf="false" diameter="25"></mat-spinner>
      <span *ngIf="true">SAVE</span>
    </button>
  </form>
</div>
