<div class="short-footer" fxLayout="row" fxLayoutAlign="center center">
  <span>© 2022 DoorDash
    <a
      href="https://help.doordash.com/consumers/s/storefront-terms-and-conditions?language=en_US&business_name=QmFybmV5J3MgR291cm1ldCBIYW1idXJnZXJzIChDYWxhYmFzYXMp&contact_info=ODE4ODU0NjAyNg%3D%3D">
      Terms of Service
    </a>
    <a
      href="https://help.doordash.com/consumers/s/storefront-privacy-policy?language=en_US&business_name=QmFybmV5J3MgR291cm1ldCBIYW1idXJnZXJzIChDYWxhYmFzYXMp&contact_info=ODE4ODU0NjAyNg%3D%3D">
      Privacy
    </a>
    Powered by
    <a href="https://get.doordash.com/en-us/products/storefront">
      DoorDash Storefront
    </a>
  </span>
</div>
