<div class="footer yellow-back-color">
  <div class="text-info">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="container">
      <h1>Find a Barney’s near you…</h1>
      <a routerLink="/locations" mat-raised-button class="loc-btn btn">Locations &#8594;</a>
    </div>
  </div>

  <div class="container social-block">
    <div class="gram">
      <p>What we're gramming…</p>
      <div fxLayout="row wrap" fxLayoutAlign="center" class="gram-block">
        <div class="gram-wrap" fxFlex="25%" *ngFor="let p of posts">
          <a [href]="p.link">
            <img
              [src]="p.url">
          </a>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p>2023 All Rights Reserved.</p>
      <nav>
        <a mat-icon-button href="https://instagram.com/barneyshamburgers?igshid=YmMyNTA2M2Y=">
          <img src="./assets/icons/instagram.svg" alt="Instagram" class="soc-icon">
        </a>
      </nav>
    </div>
  </div>
</div>
