.footer
  color: #000
  text-transform: uppercase

.text-info
  color: #fff
  background: #e99b0c
  padding: 32px 0

h1
  font-size: 21px
  margin: 0

.loc-btn
  font-size: 13px
  padding: 20px

.social-block
  padding: 64px 32px

.gram
  padding-bottom: 32px

.gram-block
  width: 100%
  padding-top: 22px

.gram-wrap
  height: auto
  padding: 0 16px 16px 0

.gram-wrap img
  width: 100%
  height: 100%
  object-fit: cover
  object-position: 0 0

.soc-icon
  width: 24px
  height: 24px
