.map-wrap
  height: 100%

.location-cards
  overflow: scroll
  height: 93%

.map
  position: relative
  top: -61px
  height: 100%
  width: 100%

div.btn-container
  display: table-cell
  vertical-align: middle
  text-align: center

label
  font-size: 13px
  color: #424242
  font-weight: 500

.toggle-btn
  width: 150px
  padding: 20px 0 10px 0
  margin: 0 auto

.btn-color-mode-switch
  display: inline-block
  position: relative
  margin: 0

.btn-color-mode-switch > label.btn-color-mode-switch-inner
  width: 150px
  height: 30px
  background: #e7e7e7
  border-radius: 26px
  overflow: hidden
  position: relative
  transition: all 0.3s ease
  display: block
  margin: 0

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before
  color: #191919
  content: attr(data-on)
  position: absolute
  font-weight: 500
  top: 7px
  right: 20px

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after
  content: attr(data-off)
  width: 80px
  height: 16px
  background: #191919
  color: #fff
  border-radius: 26px
  position: absolute
  left: 2px
  top: 2px
  text-align: center
  transition: all 0.3s ease
  padding: 5px 0

.btn-color-mode-switch input[type="checkbox"]
  cursor: pointer
  width: 50px
  height: 25px
  opacity: 0
  position: absolute
  top: 0
  z-index: 1
  margin: 0

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after
  content: attr(data-on)
  left: 68px
  background: #191919

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before
  content: attr(data-off)
  right: auto
  left: 20px
