<app-short-toolbar></app-short-toolbar>

<div fxLayout="row" class="map-wrap">
  <div fxFlex="30%" class="location-cards">
    <div class="toggle-btn">
      <label class="switch btn-color-mode-switch">
        <input type="checkbox" name="color_mode" id="color_mode" value="1">
        <label for="color_mode" data-on="Delivery" data-off="Pickup" class="btn-color-mode-switch-inner"></label>
      </label>
    </div>
    <app-map-location *ngFor="let b of branchesData" [data]="b"></app-map-location>
  </div>

  <div style="overflow: hidden" fxFlex="70%">
    <iframe src="https://www.google.com/maps/d/embed?mid=1SGXeVdoQ4rSCcQKvYf0wz7MRd-iysLU&ehbc=2E312F"
            class="map">
    </iframe>
  </div>
</div>
