<mat-card>
  <button mat-icon-button class="cancel-btn" (click)="onCloseClick()">
    <mat-icon color="warn">cancel</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="center">
    <h4><strong>Email change</strong></h4>
  </div>

  <form #f="ngForm" fxLayout="column">
    <div *ngIf="errorData" class="error">
      <p *ngFor="let m of errorData.message">{{m}}</p>
    </div>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': password.touched && password.value && password.hasError('password')}">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="current-password"
             required appPassword matInput ngModel #password="ngModel">
      <mat-error *ngIf="password.touched && password.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="password.touched && password.hasError('password')">The password must contain from 8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New email</mat-label>
      <input type="email" name="email" autocomplete="username"
             email required matInput ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')">Email is required!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end">
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()"
              [disabled]="f.invalid || (updateLoading | async)">
        <mat-spinner *ngIf="updateLoading | async" diameter="25"></mat-spinner>
        <span *ngIf="!(updateLoading | async)">SAVE</span>
      </button>
    </div>
  </form>
</mat-card>

