mat-toolbar
  padding: 44px 16px

.toolbar
  width: 100%

a.activeToolbarNav
  font-weight: 700

.logo
  display: block
  max-width: 205px

.about-menu
  position: relative
  display: inline-block

.about-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 110px
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  z-index: 1

.about-item
  display: block
  padding: 8px

.about-menu:hover .about-content
  display: block

a:-webkit-any-link:focus-visible
  outline: none !important

ng-deep div.mat-menu-content:not(:empty)
  padding: 0 !important

.order-btn
  color: #fff !important

mat-icon
  margin: 0!important
