<mat-toolbar class="yellow-back-color">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">
      <img class="logo" src="assets/images/logo.png" alt="Barney's Gourmet Hamburgers">
    </a>
    <nav fxFlex="60" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-button [matMenuTriggerFor]="addMenu" *appHasRoles="['ADMIN']">
          <mat-icon class="icon">add</mat-icon>
        </button>
        <mat-menu #addMenu="matMenu">
          <a mat-menu-item routerLink="/dishes/new">New Dish</a>
        </mat-menu>
      </div>

      <a routerLink="/"
         routerLinkActive="activeToolbarNav"
         [routerLinkActiveOptions]="{exact:true}"
         mat-button
         class="toolbar-link"
      >Home</a>

      <a routerLink="/locations"
         routerLinkActive="activeToolbarNav"
         [routerLinkActiveOptions]="{exact:true}"
         mat-button
         class="toolbar-link"
      >Locations</a>

      <a routerLink="/menu"
         routerLinkActive="activeToolbarNav"
         [routerLinkActiveOptions]="{exact:true}"
         mat-button
         class="toolbar-link"
      >Menu</a>

      <div class="about-menu">
        <a mat-button
           routerLink="/our-story"
           routerLinkActive="activeToolbarNav"
           [routerLinkActiveOptions]="{exact:true}"
           class="toolbar-link">
          About Us
        </a>
        <div class="about-content yellow-back-color">
          <a routerLink="/our-story" class="about-item toolbar-link" mat-menu-item>Our Story</a>
          <a routerLink="/contact" class="about-item toolbar-link" mat-menu-item>Contact Us</a>
        </div>
      </div>

      <a routerLink="/map"
         mat-stroked-button
         class="btn order-btn toolbar-link"
         routerLinkActive="activeToolbarNav"
         [routerLinkActiveOptions]="{exact:true}">
        Order Now
      </a>
    </nav>
  </div>
</mat-toolbar>

<ng-content></ng-content>
