<form #f="ngForm" autocomplete="off" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>First Name</mat-label>
      <input type="text" name="firstName" required matInput ngModel #firstName="ngModel">
      <mat-error *ngIf="firstName.touched && firstName.hasError('required')">First name is required!</mat-error>
      <mat-error *ngIf="firstName.touched && firstName.hasError('serverError')">
        {{ firstName.getError('serverError') }}
      </mat-error>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>Last Name</mat-label>
      <input type="text" name="lastName" required matInput ngModel #lastName="ngModel">
      <mat-error *ngIf="lastName.touched && lastName.hasError('required')">Last Name is required!</mat-error>
      <mat-error *ngIf="lastName.touched && lastName.hasError('serverError')">
        {{ lastName.getError('serverError') }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input type="text" name="phoneNumber" appPhone required matInput ngModel #phoneNumber="ngModel"
           placeholder="123-123-1234">
    <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">Phone number is required!</mat-error>
    <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('phone')">Enter a valid phone number!</mat-error>
    <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('serverError')">
      {{ phoneNumber.getError('serverError') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Payment method</mat-label>
    <select matNativeControl name="paymentMethod" ngModel>
      <option value="cash">Cash</option>
      <option value="card">Card</option>
    </select>
  </mat-form-field>
</form>
