<mat-toolbar class="white-back-color short-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <a routerLink="/">
    <img class="logo" src="assets/images/logo.png" alt="Barney's Gourmet Hamburgers">
  </a>
  <ng-content></ng-content>
</mat-toolbar>
