::ng-deep .mdc-dialog__surface
  overflow-y: hidden !important

mat-card
  position: relative
  overflow-y: hidden !important
  padding: 24px

.dialog-img
  border-radius: 10px
  margin: 0 16px 16px 0

.cancel-btn
  position: absolute
  right: 0
  top: 0

.dialog-info
  padding-top: 16px

.remove-btn
  color: #737373

.amount
  padding: 0 16px
