<mat-card>
  <div fxLayout="row" fxLayoutAlign="center">
    <img class="dialog-img" [src]="data.file.fileKey | image" [alt]="data.title">
    <div fxLayout="column" class="dialog-info">
      <button mat-icon-button class="cancel-btn" (click)="onCloseClick()">
        <mat-icon color="warn">cancel</mat-icon>
      </button>
      <h4><strong>{{ data.title }}</strong></h4>
      <p mat-card-subtitle>{{ data.description }}</p>
      <p><strong>${{ data.price / 100 }}</strong></p>
    </div>
  </div>

  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button [disabled]="amount === 1" (click)="decreaseAmount()">
        <mat-icon class="remove-btn">remove_circle</mat-icon>
      </button>
      <span class="amount">{{ amount }}</span>
      <button mat-icon-button (click)="increaseAmount()">
        <mat-icon color="warn">add_circle</mat-icon>
      </button>
    </div>
    <button mat-raised-button color="warn" (click)="addToCart()">Add</button>
  </div>
</mat-card>
