<div class="slideshow-container">
  <button class="prev-btn" (click)="reduceSlides()" *ngIf="startIndex !== 0">&#10094;</button>
  <nav>
    <ul fxLayout="row" class="menu-slides-wrap">
      <li
        *ngFor="let l of links; let i = index"
        class="menu-slide-item"
        [fxFlex]="100/step"
      >
        <a
          [href]="link + '/#' + (i + 1)"
          class="menu-slide-link"
          [ngClass]="{'menu-slide-active-link': currLink === (i + 1).toString()}"
        >The Classics {{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
  <button class="next-btn" (click)="showSlides()" *ngIf="lastIndex < links.length - 1">&#10095;</button>
</div>
