.slideshow-container
  position: relative
  background: #fff
  border-bottom: 1px solid #e7e7e7
  padding-top: 16px

.menu-slides-wrap
  list-style: none
  overflow: hidden
  padding: 0 45px
  margin: 0

.menu-slide-item
  display: none
  text-align: center
  padding-bottom: 12px

.menu-slide-link
  color: #494949
  font-size: 14px
  font-weight: 500
  text-decoration: none

.menu-slide-active-link
  border-bottom: 4px solid #191919

.prev-btn, .next-btn
  z-index: 99
  font-weight: bold
  font-size: 20px
  position: absolute
  top: 50%
  transform: translate(-50%, -55%)
  width: auto
  cursor: pointer
  border: none
  background: inherit
  box-shadow: 0 0 10px #fff

.prev-btn
  left: 18px

.next-btn
  right: -10px
