<div class="loc-card" fxLayout="column" fxLayoutAlign="center center">
  <h1>{{data.title}}</h1>
  <p>
    <strong>
      <span *ngFor="let i of data.receiveMethods; let index = index">
        {{data.receiveMethods[index].title}}
        <span *ngIf="index !== data.receiveMethods.length - 1">&#x2022;</span>
      </span>
    </strong>
  </p>
  <p><strong>{{data.phone}}</strong></p>
  <div class="delivery-address-wrap" fxLayout="column" fxLayoutAlign="center center">
    <p class="delivery-address">
      {{data.address.building}} {{data.address.street}}
      <span *ngIf="data.address.unit">#{{data.address.unit}}</span>
    </p>
    <p class="delivery-address">
      {{data.address.city.title}}, {{data.address.state.title}} {{data.address.zipCode}}
    </p>
  </div>
  <a [routerLink]="[data.id]" mat-button class="btn">Learn more</a>
</div>

<ng-content></ng-content>
