<div fxLayout="row" class="location-wrap">
  <mat-icon fxFlex="10%" class="location-icon">location_on</mat-icon>&nbsp;&nbsp;
  <div fxFlex="90%">
    <div class="location-address">
      <p class="location-title">Barney's Gourmet Hamburgers ({{data.address.city.title}})</p>
      <p class="location-subtitle">{{data.address.building}} {{data.address.street}}, {{data.address.city.title}}
        , {{data.address.state.title}} {{data.address.zipCode}}, USA</p>
    </div>
    <a [routerLink]="['/branch', data.id]" mat-button class="btn location-btn">Select</a>
  </div>
</div>
