.location-wrap
  border-bottom: 1px solid #E7E7E7
  padding: 12px 20px 20px

.location-icon
  color: #3C366B

.location-title
  color: 	#191919

.location-subtitle
  color: #494949

.location-address
  margin-bottom: 16px

.location-address p
  margin-bottom: 0

.location-btn
  border-radius: 30px
  width: 100px
