<form #f="ngForm" fxLayout="column">
  <ng-content></ng-content>

  <mat-form-field appearance="outline" fxFlex="50%">
    <mat-label>Name on card</mat-label>
    <mat-icon matSuffix>person</mat-icon>
    <input type="text" name="cardName" required matInput ngModel #cardName="ngModel" autocomplete="cc-name">
    <mat-error *ngIf="cardName.touched && cardName.hasError('required')">Name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Card number</mat-label>
    <mat-icon matSuffix>credit_card</mat-icon>
    <input type="number" name="cardNumber" [appLength]="16" required matInput ngModel #cardNumber="ngModel"
           autocomplete="cc-number">
    <mat-error *ngIf="cardNumber.touched && cardNumber.hasError('required')">Card number is required!</mat-error>
    <mat-error *ngIf="cardNumber.touched && cardNumber.hasError('length')">The card number must consist of 16 digits!
    </mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline">
      <mat-label>Expiration Date</mat-label>
      <mat-icon matSuffix>calendar_today</mat-icon>
      <input type="text" name="expDate" required matInput ngModel #expDate="ngModel" autocomplete="cc-exp"
             placeholder="MM/YY" (keyup)="modifyExpDateInput($event)" maxlength="5">
      <mat-error *ngIf="expDate.touched && expDate.hasError('required')">Expiration date is required!</mat-error>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="outline">
      <mat-label>CVV/CVC</mat-label>
      <mat-icon matSuffix>lock</mat-icon>
      <input type="number" name="cardCode" [appLength]="3" required maxlength="3" matInput ngModel #cardCode="ngModel"
             autocomplete="cc-csc">
      <mat-error *ngIf="cardCode.touched && cardCode.hasError('required')">Card code is required!</mat-error>
      <mat-error *ngIf="cardCode.touched && cardCode.hasError('length')">The card code must consist of 3 digits!
      </mat-error>
    </mat-form-field>
  </div>
</form>
