<div class="login">
  <div fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-icon-button (click)="onCloseClick()">
      <mat-icon color="warn">cancel</mat-icon>
    </button>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit()" fxLayout="column" autocomplete="off">
    <div *ngIf="error | async" class="error">
      {{ (error | async)?.message }}
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" name="email" autocomplete="username"
             email required matInput ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')">Email is required!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': password.touched && password.hasError('password')}">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="current-password"
             appPassword required matInput ngModel #password="ngModel">
      <mat-error *ngIf="password.touched && password.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="password.touched && password.hasError('password')">The password must contain from 8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>

    <div class="reg-link" fxLayout="row" fxLayoutAlign="center">
      <span class="reg-link-inner" (click)="openRegisterModal()">Don't have an account? Sign up!</span>
    </div>

    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid || (loading | async)">
      <mat-spinner *ngIf="loading | async" diameter="25"></mat-spinner>
      <span *ngIf="!(loading | async)">SIGN IN</span>
    </button>
  </form>
</div>

