*
  box-sizing: border-box

html, body
  scroll-padding-top: 80px

body
  font-family: brandon-grotesque, sans-serif
  color: #1a1a1ae6
  font-weight: 600
  font-size: 15px
  letter-spacing: 1px
  line-height: 1em
  background: #fff
  min-height: 100vh
  margin: 0

.container
  max-width: 1200px
  padding: 0 32px
  margin: 0 auto

.yellow-back-color
  background: #FCFBF7 !important

.white-back-color
  background: #fff

.btn
  background-color: #3d156a !important
  color: #fff !important
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px

.main-content
  background: inherit
  padding: 96px 32px

.toolbar-link
  color: #3d156a !important
  text-decoration: none
  text-transform: uppercase
  font-size: 14px
  letter-spacing: 2px

.basic-border
  border-bottom: 1px solid #e7e7e7
  margin-bottom: 16px

.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 4px

.icon
  color: #3d156a !important

mat-form-field mat-error
  display: none !important

mat-form-field mat-error:first-child
  display: block !important

.mat-error
  font-size: 12px
  padding: 0 16px 16px
