.cancel-btn
  margin-bottom: 16px

.register
  padding: 16px

.form-field
  padding-bottom: 40px

mat-form-field mat-error
  display: none !important

mat-form-field mat-error:first-child
  display: block !important

.reg-link
  margin-bottom: 16px

.reg-link-inner
  text-decoration: underline
  color: #3d156a
  cursor: pointer
