<div class="register">
  <div fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-icon-button (click)="onCloseClick()">
      <mat-icon color="warn">cancel</mat-icon>
    </button>
  </div>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit()" fxLayout="column"
        [appIdentical]="['password', 'confirmPassword']">
    <div *ngIf="errorData" class="error">
      <p *ngFor="let m of errorData">{{m}}</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field appearance="outline" fxFlex="50%">
        <mat-label>First Name</mat-label>
        <input type="text" name="firstName" required matInput ngModel #firstName="ngModel">
        <mat-error *ngIf="firstName.touched && firstName.hasError('required')">First name is required!</mat-error>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline" fxFlex="50%">
        <mat-label>Last Name</mat-label>
        <input type="text" name="lastName" required matInput ngModel #lastName="ngModel">
        <mat-error *ngIf="lastName.touched && lastName.hasError('required')">Last Name is required!</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input type="text" name="phoneNumber" appPhone required matInput ngModel #phoneNumber="ngModel"
             placeholder="+1 (123) 123-1234">
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">Phone number is required!</mat-error>
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('phone')">Enter a valid phone number!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" name="email" autocomplete="username"
             email required matInput ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')">Email is required!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
    </mat-form-field>

    <small class="mat-error" *ngIf="confirmPassword.touched && f.errors?.['identical']">
      <mat-error>Passwords should match!</mat-error>
    </small>
    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': password.touched && password.hasError('password')}">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="new-password"
             appPassword required matInput ngModel #password="ngModel">
      <mat-error *ngIf="password.touched && password.hasError('required')">Password is required!</mat-error>
      <mat-error *ngIf="password.touched && password.hasError('password')">The password must contain from 8 to 64
        characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    [ngClass]="{'form-field': confirmPassword.touched && confirmPassword.hasError('password')}">
      <mat-label>Confirm your password</mat-label>
      <input type="password" name="confirmPassword" appPassword required matInput ngModel #confirmPassword="ngModel"/>
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Password confirmation is
        required!
      </mat-error>
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('password')">The password must contain from
        8 to 64 characters, must include 2 letters (at least 1 uppercase and one lowercase), numbers and special
        characters!
      </mat-error>
    </mat-form-field>

    <div class="reg-link" fxLayout="row" fxLayoutAlign="center">
      <span class="reg-link-inner" (click)="openLoginModal()">Already have an account? Sign in!</span>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid || (loading | async)">
      <mat-spinner *ngIf="loading | async" diameter="25"></mat-spinner>
      <span *ngIf="!(loading | async)">REGISTER</span>
    </button>
  </form>
</div>
