.img-wrap
  position: relative
  height: 426px

.img-wrap img
  width: 100%
  height: 100%
  object-fit: cover
  object-position: 50% 44%

.img-wrap p
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: #fff
  font-size: 48px
  font-weight: 500
  text-transform: uppercase

.menu-btn
  padding: 32px
  margin-bottom: 40px

.location-description
  text-align: center
  font-size: 16px
  font-weight: 300
  line-height: 1.5em
  color: #1f2526
  margin-bottom: 80px

.loc-info-wrap
  color: #1f2526
  font-size: 15px
  width: 88%
  margin-bottom: 114px

.mini-pic-wrap
  position: relative
  width: 478px
  height: 442px
  margin-right: 32px

.mini-pic-wrap img
  width: 100%
  height: 100%
  object-fit: cover
  object-position: 60% 50%

.loc-info
  margin-bottom: 16px

.loc-info-title
  text-transform: uppercase

.loc-info-address
  margin-bottom: 16px

.loc-info-schedule
  color: #1f2526bf
  margin-bottom: 16px

.yelp-link
  color: #1f2526bf

.order-btn
  padding: 32px
  margin-bottom: 150px
