<app-toolbar></app-toolbar>

<div class="yellow-back-color" *ngIf="branchData">
  <div class="img-wrap">
    <img [src]="branchData.mainImage?.fileKey | image" alt="Berkeley (Shattuck)">
    <p>{{branchData.title}}</p>
  </div>

  <div class="container main-content" fxLayout="column" fxLayoutAlign="center center">
    <a routerLink="/menu" mat-button class="btn menu-btn">
      <span>🍔</span>&nbsp;
      <span>Menu</span>
    </a>

    <p class="location-description">{{branchData.description}}</p>

    <div fxLayout="row" class="loc-info-wrap">
      <div class="mini-pic-wrap">
        <img [src]="branchData.subImage?.fileKey | image" alt="Berkeley (Shattuck)">
      </div>
      <div>
        <div class="loc-info">
          <h2 class="loc-info-title">Address</h2>
          <p class="loc-info-address">
            {{branchData.address.building}} {{branchData.address.street}}
            <span *ngIf="branchData.address.unit">#{{branchData.address.unit}}</span>
            <br>
            {{branchData.address.city.title}}, {{branchData.address.state.title}} {{branchData.address.zipCode}}
          </p>
          <p><strong>{{branchData.phone}}</strong></p>
        </div>
        <div>
          <h2 class="loc-info-title">Hours</h2>
          <p class="loc-info-schedule" *ngFor="let s of branchData.schedules">
            {{s.days}}
            <br>
            {{s.hours}}
          </p>
          <a [href]="branchData.yelpUrl" class="yelp-link" *ngIf="branchData.yelpUrl">
            We’d love to hear your feedback on Yelp
          </a>
        </div>
      </div>
    </div>

    <a [routerLink]="['/branch', branchData.id]" mat-button class="btn order-btn">Order now</a>
  </div>
</div>

<app-footer></app-footer>
