.contact-img
  background: url('../../../assets/images/contact-us.jpeg') no-repeat 50% 50%

.img-wrap
  min-height: 426px
  background-repeat: no-repeat
  background-size: cover

.contact-info
  padding: 0 17px

.contact-info-title
  font-size: 21px
  color: #1f2526
  margin-bottom: 10px

.contact-info p
  font-size: 15px
  color: #1f2526bf
  margin: 15px 0

.mail-address
  font-size: 16px
  color: #1f2526bf
  padding-top: 16px

.contact-form
  padding: 0 17px

.btn-text
  text-transform: uppercase


