<app-toolbar></app-toolbar>

<div class="yellow-back-color">
  <div class="img-wrap contact-img"
       fxLayout="column"
       fxLayoutAlign="center center">
  </div>

  <div fxLayout="row" class="container main-content">
    <app-sidebar fxFlex="27%"></app-sidebar>
    <div fxFlex="73%">
      <div fxLayout="row">
        <div fxFlex="33%" class="contact-info">
          <h3 class="contact-info-title">We’d love to hear from you!</h3>
          <p>What matters most is that our customers are always taken care of. It’s one of our core philosophies and the
            key to our success over the last 30 years. </p>
          <p>Send us a quick note to discuss a recent experience, upcoming party, or to simply say hi! If you’d rather
            talk over the phone, leave us your digits and we’ll call you back. </p>
          <p>If you’re old-school and want to send us something via snail mail, well, we love receiving mail! Send it
            to:</p>
          <h4 class="mail-address">Barney’s Gourmet Hamburgers
            <br>
            Attn: Executive Management Team
            <br>
            11660 San Vicente Blvd
            <br>
            Los Angeles, CA 90049</h4>
        </div>
        <div fxFlex="67%" class="contact-form">
          <form fxLayout="column" #f=ngForm (ngSubmit)="sendMessage()">
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <select matNativeControl name="location" required ngModel #location="ngModel">
                <option *ngFor="let l of locations" [value]="l" class="category">{{ l }}</option>
              </select>
              <mat-error *ngIf="location.touched && location.hasError('required')">Location is required!</mat-error>
            </mat-form-field>

            <div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field appearance="outline" fxFlex="50%">
                  <mat-label>First Name</mat-label>
                  <input type="text" name="firstName" required matInput ngModel #firstName="ngModel">
                  <mat-error *ngIf="firstName.touched && firstName.hasError('required')">First Name is required!
                  </mat-error>
                </mat-form-field>&nbsp;&nbsp;

                <mat-form-field appearance="outline" fxFlex="50%">
                  <mat-label>Last Name</mat-label>
                  <input type="text" name="lastName" required matInput ngModel #lastName="ngModel">
                  <mat-error *ngIf="lastName.touched && lastName.hasError('required')">Last Name is required!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input type="text" name="emailAddress" email required matInput ngModel #emailAddress="ngModel">
              <mat-error *ngIf="emailAddress.touched && emailAddress.hasError('required')">Email Address is required!
              </mat-error>
              <mat-error *ngIf="emailAddress.touched && emailAddress.hasError('email')">Enter a valid Email Address!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input type="text" name="phoneNumber" matInput ngModel>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Message</mat-label>
              <textarea type="text" name="message" required matInput ngModel #message="ngModel"></textarea>
              <mat-error *ngIf="message.touched && message.hasError('required')">Message is required!</mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="flex-end">
              <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
                <mat-spinner *ngIf="false" diameter="25"></mat-spinner>
                <span *ngIf="true" class="btn-text">Submit</span>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
