<ng-container *ngIf="menuData">
  <div class="branch-menu-wrap" *ngFor="let s of menuData.sections">
    <h2 class="branch-menu-title">{{s.title}}</h2>
    <div fxLayout="row wrap" class="branch-menu-items">
      <app-order-menu-item fxFlex="50%" *ngFor="let d of s['dishes']" [data]="d"></app-order-menu-item>
    </div>
  </div>
</ng-container>
