.img-wrap img
  display: block
  width: 100%
  max-height: 590px
  object-fit: cover
  object-position: 50% 50%

.slider-block
  padding: 92px 0

::ng-deep .mat-horizontal-stepper-header-container
  display: none !important

::ng-deep .mat-horizontal-content-container
  padding: 0 !important

.mat-stepper-horizontal
  background-color: inherit
  margin-top: 17px

.slider-block img
  display: block
  width: 100%
  max-height: 685px
  object-fit: cover
  object-position: 50% 50%

.order-btn
  padding: 28px

.dot-wrap
  width: 100px

.dot
  width: 15px
  height: 15px
  border-radius: 50%
  background-color: #3d156a
  margin: 5px

.active-dot
  background-color: #3d156a

.deactivated-dot
  background-color: #ccc

.small-img-wrap
  text-align: center
  position: relative
  text-transform: uppercase

.small-img-wrap img
  display: block
  width: 100%
  max-height: 521px
  object-fit: cover
  object-position: 50% 50%

.small-img-wrap p
  color: #fff
  font-size: 48px
  margin-bottom: 30px

.hungry-info
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.menu
  padding: 20px 28px

.quote
  text-align: center
  padding: 96px 32px

.quote img
  display: block
  width: 60px
  margin-bottom: 33px

.quote p
  line-height: 2em
  font-size: 20px
