<app-toolbar></app-toolbar>

<div class="yellow-back-color">
  <div class="img-wrap">
    <img src="./assets/images/home-img.png" alt="The perfect meat starts here">
  </div>

  <div class="container slider-block " fxLayout="column" fxLayoutAlign="center center">
    <a routerLink="/map" mat-raised-button class="btn order-btn">
      <span>Order now</span>
    </a>
    <mat-horizontal-stepper linear #matHorizontalStepper>
      <mat-step *ngFor="let s of slides; let i = index;">
        <img [src]="slides[i].path" alt="Barney's info-slide">
      </mat-step>
    </mat-horizontal-stepper>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div *ngFor="let s of slides; let i = index;">
        <div
          [ngClass]="{'active-dot': currentStep === i, 'deactivated-dot': currentStep !== i, 'dot': true}"></div>
      </div>
    </div>
  </div>

  <div class="small-img-wrap">
    <img src="./assets/images/hungry.jpg" alt="Are you hungry?">
    <div class="hungry-info">
      <p>Hungry?</p>
      <a routerLink="/menu" mat-raised-button class="btn menu">
        <span>View menu</span>
      </a>
    </div>
  </div>

  <div class="container quote" fxLayout="column" fxLayoutAlign="center center">
    <img src="/assets/icons/quote.svg" alt="quote"/>
    <p>You deserve to be cherished. Through care, competence, attentiveness & excellence we act on this belief when
      you’re in our restaurant. Each welcoming visit, each interaction we share with you, each creative, delightful bite
      of our farm-fresh-to table food you savor, is our way of appreciating you.</p>
  </div>
</div>

<app-footer></app-footer>

