<form #f="ngForm" fxLayout="column" [appExistence]="['street', 'apt']">
  <ng-content></ng-content>

  <small class="mat-error" *ngIf=
    "street.touched && street.value && f.errors?.['existence'] || apt.touched && apt.value && f.errors?.['existence']">
    <mat-error>It is necessary to send street together with apt!</mat-error>
  </small>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" fxFlex="75%">
      <mat-label>Street</mat-label>
      <input type="text" name="street" matInput ngModel #street="ngModel">
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="outline" fxFlex="25%">
      <mat-label>Apt</mat-label>
      <input type="number" name="apt" matInput ngModel #apt="ngModel">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>Building</mat-label>
      <input type="number" name="building" matInput ngModel>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="outline" fxFlex="50%">
      <mat-label>Floor</mat-label>
      <input type="number" name="floor" matInput ngModel>
    </mat-form-field>
  </div>
</form>
