<app-short-toolbar></app-short-toolbar>

<app-centered-card title="Profile">
  <div *ngIf="updateUserErrData" class="error">
    <p *ngFor="let m of updateUserErrData.message">{{m}}</p>
  </div>

  <div>
    <app-contact-form #contactForm (formValidity)="updateContactFormValidity($event)">
      <h4 class="form-title">Contact info</h4>
    </app-contact-form>

    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="userData">
      <span class="user-info">{{userData.email}}</span>
      <button mat-raised-button color="primary" (click)="openEmailDialog()">Change email</button>
    </div>&nbsp;

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="user-info">**********</span>
      <button mat-raised-button color="primary" (click)="openPasswordDialog()">Change password</button>
    </div>&nbsp;
  </div>

  <app-address-form #addressForm (formValidity)="updateAddressFormValidity($event)"><h4 class="form-title">Address</h4>
  </app-address-form>

  <ng-container *ngIf="contactForm.form">
    <app-card-form #cardForm
                   (formValidity)="updateCardFormValidity($event)"
                   *ngIf="contactForm.form.value['paymentMethod']==='card'"><h4 class="form-title">Payment
      settings</h4></app-card-form>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="end">
    <button type="submit"
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
            [disabled]="(updateLoading | async) || !isContactFormValid || !isAddressFormValid || !isCardFormValid">
      <mat-spinner *ngIf="updateLoading | async" diameter="25"></mat-spinner>
      <span *ngIf="!(updateLoading | async)">SAVE</span>
    </button>
  </div>
</app-centered-card>

<app-short-footer></app-short-footer>
