<mat-nav-list class="nav-wrap">
  <p class="sidebar-title">About Us</p>
  <div fxLayout="column">
    <a
      routerLink="/our-story"
      routerLinkActive="activeSidebarNav"
      [routerLinkActiveOptions]="{exact:true}"
      class="sidebar-item"
    >Our Story</a>
    <a
      routerLink="/contact"
      routerLinkActive="activeSidebarNav"
      [routerLinkActiveOptions]="{exact:true}"
      class="sidebar-item"
    >Contact Us</a>
  </div>
</mat-nav-list>
