.nav-wrap
  font-weight: 300
  padding-right: 64px

.sidebar-title
  color: #1f2526
  font-size: 26px
  font-weight: 500
  margin-bottom: 13px

.sidebar-item
  font-size: 15px
  text-transform: uppercase
  text-decoration: none
  color: #1f252666
  font-weight: 300
  padding: 5px

.sidebar-item:hover
  background: rgba(0, 0, 0, 0.05)

a.activeSidebarNav
  color: #1f2526
